:root {
  /* BG colors */
  --body-background-color: #fff;
  --header-background-color: #ECECEC;
  --dark-background-color: #2F303A;
  --section-light-background-color: #F5F4FA;
  /* Text colors */
  --dark-text-color: #212121;
  --main-text-color: #757575;
  --white-text-color: #fff;
  --highlited-text-color: #2196f3;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

/**
  |============================
  | Base styles
  |============================
*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  width: 100%;
  background-color: var(--body-background-color);
  color: var(--main-text-color);
}

h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col-gap-header {
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}

.col-gap-main {
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.col-gap-portfolio {
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}

.btn {
  cursor: pointer;
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/**
  |============================
  | Logo
  |============================
*/
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  padding-top: 24px;
  padding-bottom: 25px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.logo {
  color: var(--highlited-text-color);
}

.logo__dark {
  color: var(--dark-text-color);
}

.logo__light {
  color: var(--white-text-color);
}

.logo__dark:hover,
.logo__dark:focus,
.logo__light:hover,
.logo__light:focus {
  color: var(--highlited-text-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.section-title,
.specialty-title,
.team-title {
  color: var(--dark-text-color);
}

.link {
  font-weight: 500;
  text-decoration: none;
  color: var(--dark-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover, .link:focus {
  color: var(--highlited-text-color);
}

.link.active {
  color: var(--highlited-text-color);
}

/**
  |============================
  | Icons
  |============================
*/
.envelope, .smartphone {
  fill: currentColor;
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.envelope:hover, .envelope:focus, .smartphone:hover, .smartphone:focus {
  fill: var(--highlited-text-color);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #AFB1B8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--highlited-text-color);
  fill: var(--white-text-color);
}

.social__icon {
  width: 20px;
  height: 20px;
}

.client__icon {
  width: 106px;
  height: 60px;
}

.footer-form__icon-send {
  width: 24px;
  height: 24px;
  fill: var(--white-text-color);
}

/**
  |============================
  | Modal window
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 350ms, visibility 350ms;
  transition: opacity 350ms, visibility 350ms;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.1);
          transform: translate(-50%, -50%) scale(0.1);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--white-text-color);
  border-radius: 4px;
  -webkit-transition: opacity 150ms 300ms, -webkit-transform 150ms 300ms;
  transition: opacity 150ms 300ms, -webkit-transform 150ms 300ms;
  transition: transform 150ms 300ms, opacity 150ms 300ms;
  transition: transform 150ms 300ms, opacity 150ms 300ms, -webkit-transform 150ms 300ms;
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}
.modal__btn:hover > .icon-close, .modal__btn:focus > .icon-close {
  fill: var(--highlited-text-color);
}

.icon-close {
  fill: #000;
  width: 15px;
  height: 15px;
}

.modal-form__header {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--dark-text-color);
}

.modal-form__field {
  position: relative;
  margin-bottom: 10px;
}

.modal-form__field:nth-child(4) {
  margin: 0;
}

.modal-form__icon {
  display: inline-block;
  width: 18px;
  height: 18px;
}

.modal-form__field > .modal-form__icon {
  position: absolute;
  top: 31px;
  left: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__field:hover > .modal-form__icon,
.modal-form__input:focus + .modal-form__icon {
  fill: var(--highlited-text-color);
  cursor: pointer;
}

.modal-form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-form__input {
  height: 40px;
  padding-left: 42px;
}

.modal-form__messege {
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
}

.modal-form__input,
.modal-form__messege {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus,
.modal-form__input:hover,
.modal-form__messege:focus,
.modal-form__messege:hover {
  outline: none;
  border: 1px solid var(--highlited-text-color);
  cursor: pointer;
}

.modal-form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
}

.modal-form__checkbox {
  display: block;
  cursor: pointer;
}

.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #000;
  border-radius: 4px;
}

.modal-form__checkbox {
  text-align: center;
  margin-bottom: 30px;
}

.checkbox__input:checked + .checkbox-icon {
  border-color: var(--highlited-text-color);
  background-color: var(--highlited-text-color);
  background-image: url(../images/icon-check.svg);
  background-size: 72%;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.checkbox-link {
  position: relative;
  color: var(--highlited-text-color);
  text-decoration: none;
}
.checkbox-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  border-radius: 2px;
  background-color: var(--highlited-text-color);
}

.btn__modal {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196F3;
  color: var(--white-text-color);
  border: none;
  border-radius: 4px;
  padding: 10px 52px;
  margin: auto;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn__modal:hover, .btn__modal:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.menu-toggle {
  width: 40px;
  height: 40px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover, .menu-toggle:focus {
  fill: var(--highlited-text-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: #fff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-nav__link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--dark-text-color);
  margin-bottom: 32px;
}
.mobile-menu-nav__link:hover, .mobile-menu-nav__link:focus {
  color: var(--highlited-text-color);
}

.mobile-contacts__tel {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  color: var(--highlited-text-color);
}

.mobile-contacts__mail {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
  color: var(--main-text-color);
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.mobile-socials__link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--highlited-text-color);
}

.mobile-socials__link::after {
  content: "|";
  color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

/**
  |============================
  | Header styles
  |============================
*/
.page-header {
  border-bottom: 1px solid var(--header-background-color);
  background-color: var(--white-text-color);
}

.nav-list {
  margin-left: 92px;
  color: var(--dark-text-color);
}
@media screen and (max-width: 768px) {
  .nav-list {
    display: none;
  }
}

.nav-list__link {
  padding: 32px 0;
}

.nav-list__link.active {
  position: relative;
}
.nav-list__link.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--highlited-text-color);
}

.nav-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 10px;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .nav-address {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .nav-address {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}

.nav-address__link {
  font-weight: 500;
  text-decoration: none;
  color: var(--main-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-address__link:hover, .nav-address__link:focus {
  color: var(--highlited-text-color);
}

/**
  |============================
  | Section Hero
  |============================
*/
.section-hero {
  max-width: 1600px;
  height: 480px;
  margin: 0 auto;
  text-align: center;
  padding: 118px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--dark-background-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/header/Header_sm-@1x.png);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/header/Header_sm-@1x.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/header/Header_sm-@2x.png);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/header/Header_sm-@2x.png);
  }
}
@media screen and (min-width: 481px) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/header/Header_md-@1x.png);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/header/Header_md-@1x.png);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/header/Header_md-@2x.png);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/header/Header_md-@2x.png);
  }
}
@media screen and (min-width: 769px) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/header/Header_bg-@1x.png);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/header/Header_bg-@1x.png);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/header/Header_bg-@2x.png);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/header/Header_bg-@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .section-hero {
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .section-hero {
    padding: 200px 0;
    height: 600px;
  }
}

.page-title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 360px;
  color: var(--white-text-color);
}
@media screen and (min-width: 1200px) {
  .page-title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.btn-main {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196F3;
  color: var(--white-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding: 10px 24px;
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .btn-main {
    padding: 10px 32px;
  }
}

/**
  |============================
  | Section specialty
  |============================
*/
@media screen and (min-width: 768px) {
  .specialty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.specialty__feature {
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .specialty__feature {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .specialty__feature {
    width: 270px;
  }
}

.specialty__icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: rgb(245, 244, 250);
  border-radius: 4px;
}

.specialty__icon {
  width: 70px;
  height: 70px;
}

.specialty__title {
  text-align: center;
  font-weight: 700;
  line-height: 1.17;
  color: var(--dark-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .specialty__title {
    text-align: start;
  }
}

.specialty__description {
  line-height: 1.71;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .specialty__description {
    margin-bottom: 0;
  }
}

/**
  |============================
  | Section what we do
  |============================
*/
.section.what {
  padding-top: 0;
}
@media screen and (max-width: 1200px) {
  .section.what {
    display: none;
  }
}

.what__box {
  position: relative;
}

.image-description {
  position: absolute;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-text-color);
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
}

/**
  |============================
  | Section team
  |============================
*/
.team {
  background-color: var(--section-light-background-color);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.team__card {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .team__card {
    width: 354px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__card {
    width: 270px;
  }
}

.team__text-wrap {
  padding: 30px 0;
  background-color: var(--body-background-color);
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  color: var(--dark-text-color);
  margin-bottom: 10px;
}

.team__description {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

/**
  |============================
  | Section Clients
  |============================
*/
.client__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #AFB1B8;
  -webkit-box-shadow: 0px 0px 0px 1px #AFB1B8 inset;
          box-shadow: 0px 0px 0px 1px #AFB1B8 inset;
  border-radius: 4px;
  height: 92px;
  width: 210px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__logo:hover, .client__logo:focus {
  fill: var(--highlited-text-color);
  -webkit-box-shadow: 0px 0px 0px 1px var(--highlited-text-color) inset;
          box-shadow: 0px 0px 0px 1px var(--highlited-text-color) inset;
}
@media screen and (min-width: 768px) {
  .client__logo {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client__logo {
    width: 170px;
  }
}

/**
  |============================
  | Page footer
  |============================
*/
.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer-flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
  }
}

.page-footer {
  padding: 60px 0;
  background-color: var(--dark-background-color);
}

.address {
  font-style: normal;
  line-height: 1.71;
  margin-top: 20px;
  color: var(--white-text-color);
}

.link-footer {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  font-weight: normal;
  opacity: 0.6;
  text-decoration: none;
  line-height: 1.14;
  color: var(--white-text-color);
}
.address__link:hover, .address__link:focus {
  color: var(--highlited-text-color);
}

.footer__join-wrap {
  margin: 60px auto;
}
@media screen and (min-width: 768px) {
  .footer__join-wrap {
    margin: 0;
    margin-left: 70px;
  }
}

.footer__social-title {
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--white-text-color);
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-link:hover, .footer__social-link:focus {
  background-color: var(--highlited-text-color);
}

@media screen and (min-width: 768px) {
  .footer-form {
    margin: 60px auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    margin: 0;
    margin-left: auto;
  }
}

.footer-form__input {
  background-color: transparent;
  min-width: 300px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--white-text-color);
}
@media screen and (min-width: 480px) {
  .footer-form__input {
    width: 358px;
  }
}

.footer-form__btn {
  margin-top: 20px;
  margin-left: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196F3;
  color: var(--white-text-color);
  border: none;
  border-radius: 4px;
  padding: 10px 28px;
  cursor: pointer;
}

/**
  |============================
  | Portfolio
  |============================
*/
.portfolio-nav {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .portfolio-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.portfolio-nav__btn {
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 6px 22px;
  background-color: var(--section-light-background-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-nav__btn:hover, .portfolio-nav__btn:focus {
  background-color: var(--highlited-text-color);
  color: var(--white-text-color);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.portfolio__link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  max-width: 450px;
  margin-bottom: 30px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .portfolio__link {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__link {
    width: 370px;
  }
}

.portfolio__img {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .overlay,
.portfolio__link:focus .overlay {
  height: 100%;
}

.overlay-description {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-text-color);
}

.portfolio__project {
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  padding: 20px 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.portfolio__project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
  color: var(--dark-text-color);
}

.portfolio__project-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-text-color);
}/*# sourceMappingURL=main.css.map */